.work-card {
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	display: -webkit-box;
	display: flex;
	margin: 0 0 0;
	width: 100%;
	padding: 0.8em 1.2em;
	border: 1px rgba(38,38,38,0.4) solid;
}

.work-card * {
	box-sizing: border-box;
}

.work-card-inner {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	width: 100%;
}

.work-card-header {
	margin: 0;
	padding: 0;
}

.work-tag {
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	margin-right: 5px;
	font-size: 16px;
	padding: 6px 8px;
	font-weight: 500;
	color: var(--primary-color);
	background: rgba(103,86,255,.2);
}

.work-tag {
	font-size: 15px;
	vertical-align: middle;
}

.work-card-body h2 {
	font-size: 1.3rem;
	margin: 0;
	margin-bottom: 16px;
	font-weight: 600;
}

.work-card-body p {
	font-size: 1rem;
	font-weight: 500;
	color: #8A8A8A;
	line-height: 1.5;
}

.work-card-bottom {
	display: flex;
	margin-top: auto;
	justify-content: stretch;
}

.work-card-bottom-left, .work-card-bottom-right {
	flex: 1;
	display: flex;
	align-items: center;
}

.work-card-bottom-right {
	justify-content: flex-end;
}

.work-card-bottom-left {
	justify-content: flex-start;
}

.work-card-bottom-right {
	text-align: right;
}

.work-card-bottom a {
	text-decoration: none;
	font-weight: 500;
	color: var(--font-color);
}

@media screen and (max-width: 605px) {
	.work-card-bottom {
		margin-top: -7px;
		flex-flow: column-reverse;
	}

	.work-card-bottom-left, .work-card-bottom-right {
		width: 100%;
		text-align: left;
		justify-content: flex-start;
	}

	.work-card-bottom-left {
		margin-top: 15px;
	}
}