.article-card {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-flow: row-reverse;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin: 0 0 20px;
  color: var(--font-color);
  padding: 0.8em 1.2em;
  border: 1px rgba(38, 38, 38, 0.4) solid;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  .info {
    flex: 9;
    width: 100%;
    border-radius: 10px;
    height: 100%;
  }

  h2 {
    font-size: 1.3rem;
    margin: 0 0 16px;
    font-weight: 700;

    a {
      opacity: 1;
      text-decoration: none;

      &:hover {
        opacity: 1;
        color: var(--font-color);
      }
    }
  }

  p.date {
    text-align: right;
    flex: 2;
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    color: #8a8a8a;
    line-height: 1.5;
  }

  ul {
    padding-left: 0;
    margin: 0;

    li {
      display: inline-block;
    }
  }
}

.article-card ul li a,
.tag-link {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 15px;
  padding: 6px 8px;
  font-weight: 500;
  color: var(--primary-color);
  background: rgba(103, 86, 255, 0.2);
}

@media screen and (max-width: 900px) {
  .article-card {
    flex-flow: column;

    p.date {
      text-align: left;
    }

    h2 a {
      opacity: 1;
    }

    h2 {
      margin: 5px 0 10px;
    }
  }
}
