#about-socials ul li a{
    font-size: 21px;
    text-decoration: none;
}

#about-socials ul {
    list-style: none;
    padding: 0;
}

#about-socials ul li {
    margin-bottom: 8px;
}

article.case p {
    margin-bottom: 0;
}

#about-socials li a:after {
    content: " ";
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    -ms-transition: padding 0.2s;
    -o-transition: padding 0.2s;
    transition: padding 0.2s;
}

#about-socials li a:hover:after {
    content: " →";
    padding-left: 7px;
}