:root {
    --font-stack-ss: 'Inter', -apple-system, BlinkMacSystemFont, 'Lucida Grande', 'Segoe UI', Ubuntu, Fira Sans, Roboto, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    /* Light Theme vars */
    --font-color: #262626;
    --primary-color: #6756ff;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}